@model List<CodeFirstApproach.Models.EmployeeModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-responsive table-striped">
    <tr>
        <th>EmpId</th>
        <th>Name</th>
        <th>Salary</th>
        <th>ActionLink</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
            <td>@Html.ActionLink("Edit", "Edit", new { Id = @item.EmpId })</td>
            <td>@Html.ActionLink("Delete","Delete",new { Id = @item.EmpId })</td>
        </tr>
    }
</table>